<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Techfor | Certificate</title>

    <link rel="shortcut icon" href="assets/img/favicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/responsive-style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@4.3.0/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/script.js"></script>
    <script src="https://unpkg.com/ionicons@4.3.0/dist/ionicons.js"></script>
  </head>
<body>
  <!-- Include Header HTML -->
  <header class="menu" id="myHeader">
    <nav class="navbar navbar-expand-lg">
      <div class="container menu__head">
        <a class="navbar-brand" href="index.html"><img src="assets/img/footer_logo.png" alt="brand logo" class="img-fluid"/></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent"aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-th" aria-hidden="true"></i> Categories</a>
              <div class="dropdown-menu" role="menu" aria-labelledby="navbarDropdown">
                <div class="dropdown-submenu">
                  <a href="#" class="dropdown-item" data-toggle="dropdown"><img src="assets/img/icon/menu_development.png" alt="menu icon" class="img-fluid icon-menu">Development <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                  <ul class="dropdown-menu">
                    <li class="dropdown-item"><a href="#">All Developmen</a></li>
                    <li class="dropdown-item"><a href="#">Web Development</a></li>
                    <li class="dropdown-item"><a href="#">Mobile Apps</a></li>
                    <li class="dropdown-item"><a href="#">Programming Languages</a></li>
                    <li class="dropdown-item"><a href="#">Game Development</a></li>
                    <li class="dropdown-item"><a href="#">Databases</a></li>
                    <li class="dropdown-item"><a href="#">Software Testing</a></li>
                    <li class="dropdown-item"><a href="#">Software Engineering</a></li>
                    <li class="dropdown-item"><a href="#">Development Tools</a></li>
                    <li class="dropdown-item"><a href="#">E-Commerce</a></li>
                  </ul>
                </div>
                <a href="#" class="dropdown-item"><img src="assets/img/icon/menu_marketing.png" alt="menu icon" class="img-fluid icon-menu">Business<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                <a href="#" class="dropdown-item"><img src="assets/img/icon/menu_it.png" alt="menu icon" class="img-fluid icon-menu">IT & Software<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                <a href="#" class="dropdown-item"><img src="assets/img/icon/menu_office.png" alt="menu icon" class="img-fluid icon-menu">Office Productivity<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                <a href="#" class="dropdown-item"><img src="assets/img/icon/menu_self-development.png" alt="menu icon" class="img-fluid icon-menu">Personal Development<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                <a href="#" class="dropdown-item"><img src="assets/img/icon/menu_design.png" alt="menu icon" class="img-fluid icon-menu">Design<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                <a href="#" class="dropdown-item"><img src="assets/img/icon/menu_marketing.png" alt="menu icon" class="img-fluid icon-menu">Marketing<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                <a href="#" class="dropdown-item"><img src="assets/img/icon/menu_lifestyle.png" alt="menu icon" class="img-fluid icon-menu">Lifestyle<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                <a href="#" class="dropdown-item"><img src="assets/img/icon/menu_photography.png" alt="menu icon" class="img-fluid icon-menu">Photography<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                <a href="#" class="dropdown-item"><img src="assets/img/icon/menu_healty.png" alt="menu icon" class="img-fluid icon-menu">Health & Fitness<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                <a href="#" class="dropdown-item"><img src="assets/img/icon/menu_teacher.png" alt="menu icon" class="img-fluid icon-menu">Teacher Training<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                <a href="#" class="dropdown-item"><img src="assets/img/icon/menu_music.png" alt="menu icon" class="img-fluid icon-menu">Music<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                <a href="#" class="dropdown-item"><img src="assets/img/icon/menu_academics.png" alt="menu icon" class="img-fluid icon-menu">Academics<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                <a href="#" class="dropdown-item"><img src="assets/img/icon/menu_language.png" alt="menu icon" class="img-fluid icon-menu">Language<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                <a href="#" class="dropdown-item"><img src="assets/img/icon/menu_test-prep.png" alt="menu icon" class="img-fluid icon-menu">Test Prep<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
              </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
              <input type="text" class="form-control mr-sm-2" placeholder="Search for Courses...">
              <button type="submit" class="btn btn-outline-success my-2 my-sm-0"><i class="fa fa-search" aria-hidden="true"></i></button>
          </form>
          <ul class="nav navbar-nav navbar-right font-thin">
            <li class="nav-item notification"><a href="#"><i class="fa fa-envelope-o icon" aria-hidden="true"></i><span class="notif">1</span></a></li>
            <li class="nav-item dropdown notification">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-shopping-cart icon" aria-hidden="true"></i><span class="notif">2</span></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#">
                    <div class="box-dropdown">
                      <div class="product__image">
                        <img src="assets/img/product1.jpg" class="img-fluid">
                      </div>
                      <div class="box__desc">
                        <p class="title">Belajar Design Grafis...</p>
                        <p class="author">By: Baba Studio</p>
                        <p class="price"><span class="rp">Rp. 500Rb</span> <span class="discount">Rp. 650Rb</span></p>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="box-dropdown">
                      <div class="product__image">
                        <img src="assets/img/product1.jpg" class="img-fluid">
                      </div>
                      <div class="box__desc">
                        <p class="title">Cara mudah membuat...</p>
                        <p class="author">By: Baba Studio</p>
                        <p class="price"><span class="rp">Rp. 500Rb</span> <span class="discount">Rp. 650Rb</span></p>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="submit__product">
                  <a href="#">
                    <p class="submit-price">Total: <strong>Rp. 1Jt</strong> <span class="discount">Rp. 650Rb</span></p>
                    <button type="button" name="button" class="submit-cart">GO TO CART</button>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown notification">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell-o icon" aria-hidden="true"></i><span class="notif">3</span></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#">
                    <div class="box-dropdown">
                      <div class="product__image">
                        <div class="date__notif">
                          <span class="notif__date">5</span>
                          <span class="notif__month">JAN</span>
                        </div>
                      </div>
                      <div class="box__desc">
                        <p class="title date">List of selected candidates <br>for the post of skilled<br> artisans (Welder)-Mail...</p>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="box-dropdown">
                      <div class="product__image">
                        <div class="date__notif">
                          <span class="notif__date">5</span>
                          <span class="notif__month">JAN</span>
                        </div>
                      </div>
                      <div class="box__desc">
                        <p class="title date">Calling for<br> Options/preferences of<br> Divisions/Units form selected...</p>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="box-dropdown">
                      <div class="product__image">
                        <div class="date__notif">
                          <span class="notif__date">5</span>
                          <span class="notif__month">JAN</span>
                        </div>
                      </div>
                      <div class="box__desc">
                        <p class="title date">List of selected candidates <br>for the post of skilled<br> artisans (Welder)-Mail...</p>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="submit__product notif">
                  <a href="pengumuman.html">SEE ALL <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </li>
              </ul>
            </li>
            <li class="nav-item user-info">
              <div class="user-log">
                <div class="user__photo">
                  <img src="assets/img/user.jpg" alt="pprofile photo" class="img-fluid rounded-circle">
                </div>
                <div class="user__info">
                  <span class="name">Nama Saya</span>
                  <span class="level">Level</span>
                </div>
                <div class="user__caret">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="#">Log Out</a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <!-- End Include Header HTML -->

  <div class="page certificate">
    <div class="container">

      <div class="certificate__box-top">
        <div class="certificate__text">
          <h5><a href="detail-kursus.html">HTML & CSS Fundamental</a></h5>
          <span>2 of 5 items complete</span>
        </div>
        <div class="certificate__info">
          <p class="vid">Video : 20/26</p>
          <p class="date">latihan : 20/26</p>
        </div>
        <div class="certificate__percent">
          <p>75%</p>
        </div>
        <div class="certificate__button">
          <a href="#" class="btn btn-detail" data-toggle="modal" data-target="#detailCertificate">Detail</a>
          <a href="request.html" class="btn btn-request">Request Ujian</a>
          <a href="#" class="btn btn-down">Download Sertifikat</a>
        </div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>

      <div class="content__page">
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="sidebar__content">
              <div class="sidebar__title">
                <h5>Videos</h5>
              </div>
              <div class="sidebar__list">
                <h5 class="title">Modul 1 : Pendahuluan</h5>
                <ul>
                  <li class="play"><a href="detail-kursus.html"><ion-icon name="play-circle"></ion-icon> <span class="text">1.1  PHP Introduction</span> <span class="timer">05:32</span></a></li>
                  <li><a href="detail-kursus.html"><ion-icon name="play-circle"></ion-icon> <span class="text">1.2  PHP Variable</span> <span class="timer">05:32</span></a></li>
                  <li><a href="detail-kursus.html"><ion-icon name="play-circle"></ion-icon> <span class="text">1.3  PHP Array</span> <span class="timer">05:32</span></a></li>
                  <li><a href="essay.html"><i class="fa fa-file-text-o" aria-hidden="true"></i> <span class="text">Soal Essay</span> <span class="timer">05:32</span></a></li>
                  <li><a href="latihan.html"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> <span class="text">Latihan</span> <span class="timer">05:32</span></a></li>
                </ul>
                <div class="divider"></div>
                <h5 class="title">Modul 2 : Fundamental</h5>
                <ul>
                  <li class="play"><a href="detail-kursus.html"><ion-icon name="play-circle"></ion-icon> <span class="text">1.1  PHP Introduction</span> <span class="timer">05:32</span></a></li>
                  <li><a href="detail-kursus.html"><ion-icon name="play-circle"></ion-icon> <span class="text">1.2  PHP Variable</span> <span class="timer">05:32</span></a></li>
                  <li><a href="detail-kursus.html"><ion-icon name="play-circle"></ion-icon> <span class="text">1.3  PHP Array</span> <span class="timer">05:32</span></a></li>
                  <li><a href="essay.html"><i class="fa fa-file-text-o" aria-hidden="true"></i> <span class="text">Soal Essay</span> <span class="timer">05:32</span></a></li>
                  <li><a href="latihan.html"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> <span class="text">Latihan</span> <span class="timer">05:32</span></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-8">
            <div class="certificate__item">
              <h2 class="inner">Certificate</h2>
              <div class="box">
                <img src="assets/img/sertifikat.jpg" alt="certificate" class="img-fluid">
              </div>
              <div class="button">
                <a href="all-certificate.html" class="btn btn-default">All Certificate</a>
                <a href="#" class="btn btn-blue"><i class="fa fa-download" aria-hidden="true"></i> Download</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Include Footer HTML -->
  <!-- <div w3-include-html="footer.html"></div> -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-5 col-xs-12">
          <div class="widget">
            <div class="widget__title">
              <a href="index.html">
                <img src="assets/img/footer_logo.png" alt="vector logo" class="img-fluid">
              </a>
            </div>
            <div class="widget__description">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-12">
          <div class="widget">
            <div class="widget__title">
              <h3>About</h3>
            </div>
            <div class="widget__description">
              <ul>
                <li><a href="#">Kupon</a></li>
                <li><a href="#">Affiliasi</a></li>
                <li><a href="#">Kursus</a></li>
                <li><a href="#">Login</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-12">
          <div class="widget">
            <div class="widget__title">
              <h3>Customer Service</h3>
            </div>
            <div class="widget__description">
              <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Contact us</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-12">
          <div class="widget">
            <div class="widget__title">
              <h3>Subscribe</h3>
            </div>
            <div class="widget__description">
              <p>Subscribe to our Newsletter</p>
              <form class="form-inline" action="index.html" method="post">
                <div class="form-group">
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email">
                </div>
                <button type="submit" class="btn btn-default btn-plane-send"><i class="icon ion-md-paper-plane"></i></button>
              </form>
              <p>Connect with us</p>
              <ul class="media">
                <li><a href="#facebook" class="facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#twitter" class="twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#gplus" class="gplus"><i class="fa fa-google-plus"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="container">
        <div class="copyright__text text-center">
          <p>Copyright @2018 <a href="index.html">techfor.id</a>, All right reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- End Include Footer HTML -->
</body>
</html>

<!-- Modal -->
<div class="modal certificate fade info-alert" id="detailCertificate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close btn-diss" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="desc-information text-center">
          <p>Anda akan dialihkan ke halaman detail performance, ingin melanjutkan?</p>
        </div>
        <div class="footer text-center">
          <a href="my-performance.html" class="yes btn-yes">Ya</a>
          <a href="#" class="no btn-no" data-dismiss="modal" aria-label="Close">Tidak</a>
        </div>
      </div>
    </div>
  </div>
</div>
