<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Techfor | Pengumuman</title>

    <link rel="shortcut icon" href="assets/img/favicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/responsive-style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@4.3.0/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/script.js"></script>
    <script src="https://unpkg.com/ionicons@4.3.0/dist/ionicons.js"></script>
  </head>
<body>
  <header class="menu" id="myHeader">
    <nav class="navbar navbar-expand-lg">
      <div class="container menu__head">
        <a class="navbar-brand" href="index.html"><img src="assets/img/footer_logo.png" alt="brand logo" class="img-fluid"/></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent"aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-th" aria-hidden="true"></i> Categories</a>
              <div class="dropdown-menu" role="menu" aria-labelledby="navbarDropdown">
                <div class="dropdown-submenu">
                  <a href="#" class="dropdown-item" data-toggle="dropdown"><img src="assets/img/icon/menu_development.png" alt="menu icon" class="img-fluid icon-menu">Development <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                  <ul class="dropdown-menu">
                    <li class="dropdown-item"><a href="#">All Developmen</a></li>
                    <li class="dropdown-item"><a href="#">Web Development</a></li>
                    <li class="dropdown-item"><a href="#">Mobile Apps</a></li>
                    <li class="dropdown-item"><a href="#">Programming Languages</a></li>
                    <li class="dropdown-item"><a href="#">Game Development</a></li>
                    <li class="dropdown-item"><a href="#">Databases</a></li>
                    <li class="dropdown-item"><a href="#">Software Testing</a></li>
                    <li class="dropdown-item"><a href="#">Software Engineering</a></li>
                    <li class="dropdown-item"><a href="#">Development Tools</a></li>
                    <li class="dropdown-item"><a href="#">E-Commerce</a></li>
                  </ul>
                </div>
                <a href="#" class="dropdown-item"><img src="assets/img/icon/menu_marketing.png" alt="menu icon" class="img-fluid icon-menu">Business<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                <a href="#" class="dropdown-item"><img src="assets/img/icon/menu_it.png" alt="menu icon" class="img-fluid icon-menu">IT & Software<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                <a href="#" class="dropdown-item"><img src="assets/img/icon/menu_office.png" alt="menu icon" class="img-fluid icon-menu">Office Productivity<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                <a href="#" class="dropdown-item"><img src="assets/img/icon/menu_self-development.png" alt="menu icon" class="img-fluid icon-menu">Personal Development<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                <a href="#" class="dropdown-item"><img src="assets/img/icon/menu_design.png" alt="menu icon" class="img-fluid icon-menu">Design<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                <a href="#" class="dropdown-item"><img src="assets/img/icon/menu_marketing.png" alt="menu icon" class="img-fluid icon-menu">Marketing<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                <a href="#" class="dropdown-item"><img src="assets/img/icon/menu_lifestyle.png" alt="menu icon" class="img-fluid icon-menu">Lifestyle<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                <a href="#" class="dropdown-item"><img src="assets/img/icon/menu_photography.png" alt="menu icon" class="img-fluid icon-menu">Photography<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                <a href="#" class="dropdown-item"><img src="assets/img/icon/menu_healty.png" alt="menu icon" class="img-fluid icon-menu">Health & Fitness<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                <a href="#" class="dropdown-item"><img src="assets/img/icon/menu_teacher.png" alt="menu icon" class="img-fluid icon-menu">Teacher Training<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                <a href="#" class="dropdown-item"><img src="assets/img/icon/menu_music.png" alt="menu icon" class="img-fluid icon-menu">Music<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                <a href="#" class="dropdown-item"><img src="assets/img/icon/menu_academics.png" alt="menu icon" class="img-fluid icon-menu">Academics<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                <a href="#" class="dropdown-item"><img src="assets/img/icon/menu_language.png" alt="menu icon" class="img-fluid icon-menu">Language<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                <a href="#" class="dropdown-item"><img src="assets/img/icon/menu_test-prep.png" alt="menu icon" class="img-fluid icon-menu">Test Prep<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
              </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
              <input type="text" class="form-control mr-sm-2" placeholder="Search for Courses...">
              <button type="submit" class="btn btn-outline-success my-2 my-sm-0"><i class="fa fa-search" aria-hidden="true"></i></button>
          </form>
          <ul class="nav navbar-nav navbar-right font-thin">
            <li class="nav-item notification"><a href="#"><i class="fa fa-envelope-o icon" aria-hidden="true"></i><span class="notif">1</span></a></li>
            <li class="nav-item dropdown notification">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-shopping-cart icon" aria-hidden="true"></i><span class="notif">2</span></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#">
                    <div class="box-dropdown">
                      <div class="product__image">
                        <img src="assets/img/product1.jpg" class="img-fluid">
                      </div>
                      <div class="box__desc">
                        <p class="title">Belajar Design Grafis...</p>
                        <p class="author">By: Baba Studio</p>
                        <p class="price"><span class="rp">Rp. 500Rb</span> <span class="discount">Rp. 650Rb</span></p>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="box-dropdown">
                      <div class="product__image">
                        <img src="assets/img/product1.jpg" class="img-fluid">
                      </div>
                      <div class="box__desc">
                        <p class="title">Cara mudah membuat...</p>
                        <p class="author">By: Baba Studio</p>
                        <p class="price"><span class="rp">Rp. 500Rb</span> <span class="discount">Rp. 650Rb</span></p>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="submit__product">
                  <a href="#">
                    <p class="submit-price">Total: <strong>Rp. 1Jt</strong> <span class="discount">Rp. 650Rb</span></p>
                    <button type="button" name="button" class="submit-cart">GO TO CART</button>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown notification">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell-o icon" aria-hidden="true"></i><span class="notif">3</span></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#">
                    <div class="box-dropdown">
                      <div class="product__image">
                        <div class="date__notif">
                          <span class="notif__date">5</span>
                          <span class="notif__month">JAN</span>
                        </div>
                      </div>
                      <div class="box__desc">
                        <p class="title date">List of selected candidates <br>for the post of skilled<br> artisans (Welder)-Mail...</p>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="box-dropdown">
                      <div class="product__image">
                        <div class="date__notif">
                          <span class="notif__date">5</span>
                          <span class="notif__month">JAN</span>
                        </div>
                      </div>
                      <div class="box__desc">
                        <p class="title date">Calling for<br> Options/preferences of<br> Divisions/Units form selected...</p>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="box-dropdown">
                      <div class="product__image">
                        <div class="date__notif">
                          <span class="notif__date">5</span>
                          <span class="notif__month">JAN</span>
                        </div>
                      </div>
                      <div class="box__desc">
                        <p class="title date">List of selected candidates <br>for the post of skilled<br> artisans (Welder)-Mail...</p>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="submit__product notif">
                  <a href="pengumuman.html">SEE ALL <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </li>
              </ul>
            </li>
            <li class="nav-item user-info">
              <div class="user-log">
                <div class="user__photo">
                  <img src="assets/img/user.jpg" alt="pprofile photo" class="img-fluid rounded-circle">
                </div>
                <div class="user__info">
                  <span class="name">Nama Saya</span>
                  <span class="level">Level</span>
                </div>
                <div class="user__caret">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="#">Log Out</a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="event my-course">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-12">
          <div class="sidebar__event">
            <div class="box title">
              <p><img src="assets/img/point.png" class="img-fluid inline-block"> Point saya, <strong>1.230</strong></p>
            </div>
            <div class="box profile">
              <div class="user__profile">
                <img src="assets/img/user.jpg" class="img-fluid rounded-circle">
              </div>
              <div class="user__desc">
                <p class="hallo"><a href="#">Welcome, <span class="name">Eko</span></a></p>
                <p class="level">Pro Elite Webmaster</p>
                <p class="status"><span class="online">	&bull;</span> Online</p>
              </div>
              <div class="progress_status">
                <p>20% Complete Profile</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    <span class="sr-only">60% Complete</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="box follow">
              <ul>
                <li>
                  <p data-toggle="modal" data-target="#Follow">Mengikuti</p>
                  <span>311</span>
                </li>
                <li>
                  <p data-toggle="modal" data-target="#Follower">Pengikut</p>
                  <span>914</span>
                </li>
              </ul>
            </div>
            <div class="box title">
              <p class="tit"><i class="fa fa-tachometer" aria-hidden="true"></i> TIMELINE</p>
            </div>
            <div class="list__sidebar">
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                      <a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <ion-icon name="contact"></ion-icon> <span>My Courses</span> </i>
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                      <ul class="inner_wish">
                        <li><a href="my-course.html"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> My Courses</a></li>
                        <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> My Performance</a></li>
                        <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Encounter</a></li>
                        <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> All Certificate</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                      <a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        <ion-icon name="school"></ion-icon> <span>Hasil Karya</span> </i>
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                      <ul class="inner_wish">
                        <li><a href="my-course.html"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> My Courses</a></li>
                        <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> My Performance</a></li>
                        <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Encounter</a></li>
                        <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> All Certificate</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                      <a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                        <ion-icon name="sync"></ion-icon> <span>Order History</span> </i>
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                      <ul class="inner_wish">
                        <li><a href="my-course.html"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> My Courses</a></li>
                        <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> My Performance</a></li>
                        <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Encounter</a></li>
                        <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> All Certificate</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title">
                      <a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                        <ion-icon name="pricetags"></ion-icon> <span>Tukar Point</span> </i>
                      </a>
                    </h4>
                  </div>
                  <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body">
                      <ul class="inner_wish">
                        <li><a href="my-course.html"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> My Courses</a></li>
                        <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> My Performance</a></li>
                        <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Encounter</a></li>
                        <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> All Certificate</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingFive">
                    <h4 class="panel-title">
                      <a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                        <ion-icon name="ribbon"></ion-icon> <span>My Badge</span> </i>
                      </a>
                    </h4>
                  </div>
                  <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                    <div class="panel-body">
                      <ul class="inner_wish">
                        <li><a href="my-course.html"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> My Courses</a></li>
                        <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> My Performance</a></li>
                        <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Encounter</a></li>
                        <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> All Certificate</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingSix">
                    <h4 class="panel-title">
                      <a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                        <i class="fa fa-spinner" aria-hidden="true"></i> <span>Event</span> </i>
                      </a>
                    </h4>
                  </div>
                  <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                    <div class="panel-body">
                      <ul class="inner_wish">
                        <li><a href="my-course.html"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> My Courses</a></li>
                        <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> My Performance</a></li>
                        <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Encounter</a></li>
                        <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> All Certificate</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingSeven">
                    <h4 class="panel-title">
                      <a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                        <ion-icon name="appstore"></ion-icon> <span>E-Commerce</span> </i>
                      </a>
                    </h4>
                  </div>
                  <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                    <div class="panel-body">
                      <ul class="inner_wish">
                        <li><a href="my-course.html"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> My Courses</a></li>
                        <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> My Performance</a></li>
                        <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Encounter</a></li>
                        <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> All Certificate</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="all-course side-bar">
            <div class="course__list">
              <ul class="list__item">
                <li>
                  <div class="course__box">
                    <div class="image">
                      <img src="assets/img/event7.jpg" class="img-fluid" alt="content course">
                      <span class="label best_seller">BEST SELLER</span>
                    </div>
                    <div class="course__desc">
                      <span class="info"><span class="glyphicon glyphicon-time"></span> 72 minute</span>
                      <p class="title">Buku Photoshop CS3</p>
                      <span class="info">Jonas Schemedtmann</span>
                      <div class="info-state">
                        <div class="rating">
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star-half-o" aria-hidden="true"></i>
                        </div>
                        <p class="info__course">4.8(4,491)</p>
                      </div>
                      <div class="footer">
                        <span class="price">FREE</span>
                        <a href="detail-kursus.html" class="btn button-blue">GET COURSE</a>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-9 col-12">
          <div class="all-course announcement">
            <h2 class="inner">Semua Pengumuman</h2>
            <div class="alert alert-warning alert-dismissible show" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button> <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> <strong>Warning!</strong> You have a live listring with a similiar tittle. Please see the duplicate listing policy on eBay for more information.
            </div>
            <div class="all-course__filter">
              <span class="title">Select Year</span>
              <div class="split__filter select">
                <select class="form-control">
                  <option>2017</option>
                  <option>2016</option>
                  <option>2015</option>
                </select>
              </div>
              <div class="split__filter search">
                <form class="">
                  <span class="title thin">Description</span>
                  <input type="text" class="form-control" placeholder="Search">
                  <button type="submit" class="btn btn-default">SEARCH</button>
                </form>
              </div>
            </div>

            <div class="list-item-announcement">
              <ul>
                <li>
                  <a href="#">
                    <div class="box-dropdown">
                      <div class="product__image">
                        <div class="date__notif">
                          <span class="notif__date">5</span>
                          <span class="notif__month">JAN</span>
                        </div>
                      </div>
                      <div class="box__desc">
                        <p class="title date">List of selected candidates for the post of skilled artisans (Welder)-Mail Motor Service, Mumbai</p>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="box-dropdown">
                      <div class="product__image">
                        <div class="date__notif">
                          <span class="notif__date">5</span>
                          <span class="notif__month">JAN</span>
                        </div>
                      </div>
                      <div class="box__desc">
                        <p class="title date">Calling for Options/preferences of Divisions/Units form selected candidates for appointment as Postal Assistand/Sorting Assistan the basis of Combined Higher Secondary Level Examination, 2015 conducted by SSC in M.P. Circle</p>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="box-dropdown">
                      <div class="product__image">
                        <div class="date__notif">
                          <span class="notif__date">5</span>
                          <span class="notif__month">JAN</span>
                        </div>
                      </div>
                      <div class="box__desc">
                        <p class="title date">List of selected candidates for the post of skilled artisans (Welder)-Mail Motor Service, Mumbai</p>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="disable">
                  <a href="#">
                    <div class="box-dropdown">
                      <div class="product__image">
                        <div class="date__notif">
                          <span class="notif__date">5</span>
                          <span class="notif__month">JAN</span>
                        </div>
                      </div>
                      <div class="box__desc">
                        <p class="title date">Calling for Options/preferences of Divisions/Units form selected candidates for appointment as Postal Assistand/Sorting Assistan the basis of Combined Higher Secondary Level Examination, 2015 conducted by SSC in M.P. Circle</p>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="disable ">
                  <a href="#">
                    <div class="box-dropdown">
                      <div class="product__image">
                        <div class="date__notif">
                          <span class="notif__date">5</span>
                          <span class="notif__month">JAN</span>
                        </div>
                      </div>
                      <div class="box__desc">
                        <p class="title date">List of selected candidates for the post of skilled artisans (Welder)-Mail Motor Service, Mumbai</p>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>

            <div class="pagination-bottom text-center">
              <ul class="pagination">
                <li><a href="#"><</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-5 col-xs-12">
          <div class="widget">
            <div class="widget__title">
              <a href="index.html">
                <img src="assets/img/footer_logo.png" alt="vector logo" class="img-fluid">
              </a>
            </div>
            <div class="widget__description">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-12">
          <div class="widget">
            <div class="widget__title">
              <h3>About</h3>
            </div>
            <div class="widget__description">
              <ul>
                <li><a href="#">Kupon</a></li>
                <li><a href="#">Affiliasi</a></li>
                <li><a href="#">Kursus</a></li>
                <li><a href="#">Login</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-12">
          <div class="widget">
            <div class="widget__title">
              <h3>Customer Service</h3>
            </div>
            <div class="widget__description">
              <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Contact us</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-12">
          <div class="widget">
            <div class="widget__title">
              <h3>Subscribe</h3>
            </div>
            <div class="widget__description">
              <p>Subscribe to our Newsletter</p>
              <form class="form-inline" action="index.html" method="post">
                <div class="form-group">
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email">
                </div>
                <button type="submit" class="btn btn-default btn-plane-send"><i class="icon ion-md-paper-plane"></i></button>
              </form>
              <p>Connect with us</p>
              <ul class="media">
                <li><a href="#facebook" class="facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#twitter" class="twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#gplus" class="gplus"><i class="fa fa-google-plus"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="container">
        <div class="copyright__text text-center">
          <p>Copyright @2018 <a href="index.html">techfor.id</a>, All right reserved.</p>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>

<!-- Modal Follow -->
<div class="modal fade follow" id="Follow" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <form class="" action="index.html" method="post">
          <div class="form-group">
            <label for="search">Cari Teman : </label>
            <div class="search-box">
              <input type="text" class="form-control" id="search" placeholder="Cari teman ...">
              <button type="submit" class="btn-search"><ion-icon name="search"></ion-icon></button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="box-follow">
              <div class="author">
                <img src="assets/img/author.jpg" class="img-fluid rounded-circle">
              </div>
              <div class="rank">
                <span class="name">Vanesia</span>
                <span class="badge"><img src="assets/img/bedg_red.png" class="img-fluid"> Badges</span>
              </div>
              <div class="button-follow"><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i> Ikuti</a></div>
            </div>
            <div class="box-follow">
              <div class="author">
                <img src="assets/img/user.jpg" class="img-fluid rounded-circle">
              </div>
              <div class="rank">
                <span class="name">Vanesia</span>
                <span class="badge"><img src="assets/img/bedg_blue.jpg" class="img-fluid"> Badges</span>
              </div>
              <div class="button-follow"><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i> Ikuti</a></div>
            </div>
            <div class="box-follow">
              <div class="author">
                <img src="assets/img/author.jpg" class="img-fluid rounded-circle">
              </div>
              <div class="rank">
                <span class="name">Vanesia</span>
                <span class="badge"><img src="assets/img/bedg_red.png" class="img-fluid"> Badges</span>
              </div>
              <div class="button-follow"><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i> Ikuti</a></div>
            </div>
            <div class="box-follow">
              <div class="author">
                <img src="assets/img/user.jpg" class="img-fluid rounded-circle">
              </div>
              <div class="rank">
                <span class="name">Vanesia</span>
                <span class="badge"><img src="assets/img/bedg_blue.jpg" class="img-fluid"> Badges</span>
              </div>
              <div class="button-follow"><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i> Ikuti</a></div>
            </div>
            <div class="box-follow">
              <div class="author">
                <img src="assets/img/author.jpg" class="img-fluid rounded-circle">
              </div>
              <div class="rank">
                <span class="name">Vanesia</span>
                <span class="badge"><img src="assets/img/bedg_red.png" class="img-fluid"> Badges</span>
              </div>
              <div class="button-follow"><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i> Ikuti</a></div>
            </div>
            <div class="box-follow">
              <div class="author">
                <img src="assets/img/user.jpg" class="img-fluid rounded-circle">
              </div>
              <div class="rank">
                <span class="name">Vanesia</span>
                <span class="badge"><img src="assets/img/bedg_blue.jpg" class="img-fluid"> Badges</span>
              </div>
              <div class="button-follow"><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i> Ikuti</a></div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="box-follow">
              <div class="author">
                <img src="assets/img/user.jpg" class="img-fluid rounded-circle">
              </div>
              <div class="rank">
                <span class="name">Vanesia</span>
                <span class="badge"><img src="assets/img/bedg_blue.jpg" class="img-fluid"> Badges</span>
              </div>
              <div class="button-follow"><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i> Ikuti</a></div>
            </div>
            <div class="box-follow">
              <div class="author">
                <img src="assets/img/author.jpg" class="img-fluid rounded-circle">
              </div>
              <div class="rank">
                <span class="name">Vanesia</span>
                <span class="badge"><img src="assets/img/bedg_red.png" class="img-fluid"> Badges</span>
              </div>
              <div class="button-follow"><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i> Ikuti</a></div>
            </div>
            <div class="box-follow">
              <div class="author">
                <img src="assets/img/user.jpg" class="img-fluid rounded-circle">
              </div>
              <div class="rank">
                <span class="name">Vanesia</span>
                <span class="badge"><img src="assets/img/bedg_blue.jpg" class="img-fluid"> Badges</span>
              </div>
              <div class="button-follow"><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i> Ikuti</a></div>
            </div>
            <div class="box-follow">
              <div class="author">
                <img src="assets/img/author.jpg" class="img-fluid rounded-circle">
              </div>
              <div class="rank">
                <span class="name">Vanesia</span>
                <span class="badge"><img src="assets/img/bedg_red.png" class="img-fluid"> Badges</span>
              </div>
              <div class="button-follow"><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i> Ikuti</a></div>
            </div>
            <div class="box-follow">
              <div class="author">
                <img src="assets/img/user.jpg" class="img-fluid rounded-circle">
              </div>
              <div class="rank">
                <span class="name">Vanesia</span>
                <span class="badge"><img src="assets/img/bedg_blue.jpg" class="img-fluid"> Badges</span>
              </div>
              <div class="button-follow"><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i> Ikuti</a></div>
            </div>
            <div class="box-follow">
              <div class="author">
                <img src="assets/img/author.jpg" class="img-fluid rounded-circle">
              </div>
              <div class="rank">
                <span class="name">Vanesia</span>
                <span class="badge"><img src="assets/img/bedg_red.png" class="img-fluid"> Badges</span>
              </div>
              <div class="button-follow"><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i> Ikuti</a></div>
            </div>
          </div>
        </div>
        <div class="loading text-center">
          <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Follower -->
<div class="modal fade follow follower" id="Follower" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="form-group">
          <label for="search">Pengikut : </label>
          <div class="search-box">
            <i class="fa fa-user-plus" aria-hidden="true"></i> 245 orang
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 col-md-12">
            <div class="box-follow">
              <div class="author">
                <img src="assets/img/author.jpg" class="img-fluid rounded-circle">
              </div>
              <div class="rank">
                <span class="name">Vanesia</span>
                <span class="badge"><img src="assets/img/bedg_red.png" class="img-fluid"> Badges</span>
              </div>
              <div class="button-follow followed"><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i> Ikuti</a></div>
            </div>
            <div class="box-follow">
              <div class="author">
                <img src="assets/img/user.jpg" class="img-fluid rounded-circle">
              </div>
              <div class="rank">
                <span class="name">Vanesia</span>
                <span class="badge"><img src="assets/img/bedg_red.png" class="img-fluid"> Badges</span>
              </div>
              <div class="button-follow followed"><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i> Ikuti</a></div>
            </div>
            <div class="box-follow">
              <div class="author">
                <img src="assets/img/author.jpg" class="img-fluid rounded-circle">
              </div>
              <div class="rank">
                <span class="name">Vanesia</span>
                <span class="badge"><img src="assets/img/bedg_red.png" class="img-fluid"> Badges</span>
              </div>
              <div class="button-follow following"><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i> Mengikuti</a></div>
            </div>
            <div class="box-follow">
              <div class="author">
                <img src="assets/img/user.jpg" class="img-fluid rounded-circle">
              </div>
              <div class="rank">
                <span class="name">Vanesia</span>
                <span class="badge"><img src="assets/img/bedg_red.png" class="img-fluid"> Badges</span>
              </div>
              <div class="button-follow following"><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i> Mengikuti</a></div>
            </div>
            <div class="box-follow">
              <div class="author">
                <img src="assets/img/author.jpg" class="img-fluid rounded-circle">
              </div>
              <div class="rank">
                <span class="name">Vanesia</span>
                <span class="badge"><img src="assets/img/bedg_red.png" class="img-fluid"> Badges</span>
              </div>
              <div class="button-follow following"><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i> Mengikuti</a></div>
            </div>
            <div class="box-follow">
              <div class="author">
                <img src="assets/img/user.jpg" class="img-fluid rounded-circle">
              </div>
              <div class="rank">
                <span class="name">Vanesia</span>
                <span class="badge"><img src="assets/img/bedg_red.png" class="img-fluid"> Badges</span>
              </div>
              <div class="button-follow following"><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i> Mengikuti</a></div>
            </div>
            <div class="box-follow">
              <div class="author">
                <img src="assets/img/author.jpg" class="img-fluid rounded-circle">
              </div>
              <div class="rank">
                <span class="name">Vanesia</span>
                <span class="badge"><img src="assets/img/bedg_red.png" class="img-fluid"> Badges</span>
              </div>
              <div class="button-follow following"><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i> Mengikuti</a></div>
            </div>
            <div class="box-follow">
              <div class="author">
                <img src="assets/img/user.jpg" class="img-fluid rounded-circle">
              </div>
              <div class="rank">
                <span class="name">Vanesia</span>
                <span class="badge"><img src="assets/img/bedg_red.png" class="img-fluid"> Badges</span>
              </div>
              <div class="button-follow following"><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i> Mengikuti</a></div>
            </div>
          </div>
        </div>
        <div class="loading text-center">
          <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</div>
